@import url(https://fonts.googleapis.com/css?family=Lato:400,900|Montez);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap);

.sparkley {
  background: #3e5871;
  color: white;
  border: none;
  padding: 16px 36px;
  font-weight: normal;
  border-radius: 3px;
  transition: all 0.25s ease;
  box-shadow: 0 38px 32px -23px black;
  margin: 0 1em 1em;
}

.sparkley:hover {
  background: #2c3e50;
  color: rgba(255, 255, 255, 0.2);
}

html {
  font-family: Lato;
  font-weight: 200;
  font-size: 1em;
  text-align: center;
  color: #ddd;
  min-height: 100%;
  background: url('../img/newbg.jpeg') top center;
  background-size:cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.results h1 .baskerville {
  font-family: Libre Baskerville, sans-serif !important;
}

h1 span,
h2 span,
h3 span {
  font-family: Montez;
  font-size: 1.9em;
  font-weight: 300;
  margin: 0 0.3em;
  color: #ff0080;
}

.top-title {

  font-family: 'Libre Baskerville';
  color: #fff;
  font-size: 22px;
  /* margin-top: 50px; */
  margin-top: 15px;
  margin-bottom: 20px;
  line-height: 30px;
  font-style: italic;
  font-weight: 500;

}

h1 {
  font-size: 1.9em;
  width: 900px;
  margin: 0 auto 1em;
  text-shadow: 0 2px 1px black;
}

.img {
  margin: 40px auto 0;
  width: 500px;
  display: block;
}

.img img {
  width: 100%;
  border-radius: 5px;
}

p {
  padding: 5px 10px;
  display: inline-block;
  margin: 10px auto;
}

.small-continue {

  font-family: 'Open Sans', sans-serif;
  color: #000;
  background-color: #b5ab81;
  border: 0px;
  padding: 10px 16px;
  font-size: 16px;
  line-height: 1.3333333;
  border-radius: 6px;
  -webkit-transition: color 0.5s linear;
  -moz-transition: color 0.5s linear;
  -o-transition: color 0.5s linear;
  transition: color 0.5s linear;
  text-decoration: none !important;
  margin-top: 15px;
}

.remodal {
  font-family: "Open Sans", Helvetica, sans-serif !important;
  font-weight: normal;
  font-size: 16px;
}

.remodal p {
  padding: 0px;
  font-family: "Open Sans", Helvetica, sans-serif !important;
  font-weight: normal;
  font-size: 16px;
  display: block;
  margin-top: 20px;
  text-align: center;
}

.small-continue:hover,
.continue:hover {
  background: #444A70;
  color: #fff;
  text-decoration: none !important;
}

.button-container {
  margin-top: 10px;
}

.birthday-selection {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 30px;
}

.left {
  text-align: left !important;
}

.big-input {
  font-size: 30px;
  outline: none;
}

.remodal h2 {
  font-family: 'Libre Baskerville';
  margin-top: 0px;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 0px;
  color: #000;
}

.remodal h3 {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.remodal input {
  width: 100%;
  border: 1px solid #333;
  border-radius: 0px;
  color: #000;
  font-size: 20px;
  font-family: "Open Sans", Helvetica, sans-serif !important;
  box-shadow: none !important;
}


.content-top {
  width: 100%;
  max-width: 700px;
  text-align: center;
  margin: 0px auto;
  background-color: #fff;
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 25px;
  font-family: 'Libre Baskerville';
}

.content-top h1 {
  width: 100%;
  font-size: 36px;
  margin: 0 auto 1em;
  text-shadow: none !important;
  margin-bottom: 30px;
  line-height: 40px;
}

.content-top h2 {
  margin-top: 0px;
  padding-top: 0px;
  line-height: 30px;
}

.choose-outer {
  /* padding: 20px !important; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.choose-wrap .guide {
  margin-bottom: 0px !important;
  padding: 0px !important;
  margin-top: 0px !important;
  background: none !important;
}

.choose-wrap .choose-cards {
  margin-top: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.choose-wrap .guide {
  margin-top: 0px;
}

.getreading {
  background: #f4d30c;
  padding: 20px;
  margin-top: 10px;
  border-radius: 20px;
}

.choose-wrap {
  margin-bottom: 10px !important;
}

.form-group {
  display: inline-block;
}

.title {
  font-size: 30px;
  font-family: 'Libre Baskerville';
  margin: 0px;
  padding: 0px;
}

.fname-inner {
  width: 100%;
}

#firstNameT {
  width: 100%;
  border: 0px;
  border-radius: 0px;
  color: #000;
  font-size: 18px;
  font-family: 'Libre Baskerville';
  padding: 10px;
  border: 1px solid #bfbfbf;
}

.container {
  width: 100%;
  padding: 20px !important;
}

#err {
  visibility: hidden;
}

.choose-wrap .text-begin {
  background: none !important;
  color: #000;
  box-shadow: none !important;
  background: #e6c2d3 !important;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 0;

}

.select-full {
  width: 100%;
  margin-bottom: 0px;
}

.nopadding {
  padding: 0px !important;
}

.send {
  width: 100%;
}

.bootbox .modal-content {
  background: #fff !important;
  text-shadow: none !important;
  border-radius: 0px !important;
  border: 0px !important;
  font-family: "Open Sans", Helvetica, sans-serif !important;
  font-weight: normal;
  font-size: 16px;
}


.bootbox-close-button {
  color: #000 !important;
  opacity: 1 !important;
  font-size: 30px;

}

.bootbox-close-button::after {
  content: ' close';

  font-size: 30px;

  color: #111;

  margin-top: -15px;

  display: inline-block;

  margin-top: -10px;

  margin-left: 5px;
}

.bootbox-body {
  font-size: 30px;

  margin-top: 25px;

  font-weight: bold;

  color: #b71717;
}

.bootbox .modal-footer {
  display: none;
}

.btn-purple {
  width: 100%;
    background: #00BC0B;
    color: #fff;
    font-size: 18px;
    transition: color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

.btn-purple:hover {
  background: #444A70;
    color: #fff;

}

.close {

  left: 15px !important;
  top: 5px !important;
}

h1 {
  font-family: 'Libre Baskerville';
  color: #fff;
  font-size: 50px;
  /* margin-top: 30px;
  margin-bottom: 30px; */
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 80px;
  font-weight: bold;
  width: 100%;
}

h2 {
  color: #fff;
}


.btn-get-reading,
.btn-shuffle {
  background: #00BC0B;
  border: 0px;
  color: #fff;
  font-weight: bold;
  text-shadow: none;
  font-size: 18px;
  padding: 10px;
  transition: background-color 0.2s linear;
}

.btn-get-reading:hover,
.btn-shuffle:hover {
  color: #fff;
    background: #444A70;
}

.popup-one-title {
  color: #000;
  font-family: "Open Sans", Helvetica, sans-serif !important;
}

/** FOOTER **/
#footer-outer #copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.18) !important;
}

#footer-outer #copyright,
body {
  border: none !important;
  background-color: inherit;
}

#footer-outer #copyright {
  padding: 20px 0px;
  font-size: 12px;
  background-color: #fff;
  color: #777;
}

#footer-outer .row {
  padding: 55px 0px;
  margin-bottom: 0px;
}

#footer-outer #copyright li a i,
#footer-outer #copyright p {
  color: #101034 !important;
  font-size: 16px;
}

footer{
  bottom: 0;
  margin-top: auto;
}

.footer {
  background-color: #D3D3D3 !important;
  padding: 0 !important;
  font-size: 14px;
}

.footer-outer {
  width: 100%;
  bottom: 0px;
  background: #fff;
}

#footer-outer #copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.18) !important;
}

.footer .container a {
    color:#23bae0!important;
}

.footer .container a:hover {
    color:#24e59b!important;
    text-decoration: none;
}

footer .disclaimer {

  color: #000;
  font-size: 14px;
  max-width: 800px;
  margin: auto;
  line-height: 1.5;

}

footer .row {

  display: flex;
  padding: 0 10px !important;
  margin: auto !important;
  max-width: 400px;
  align-items:center;

}

footer .row div {

  text-align:center;

}

footer .row div a {
 
  text-align:center;

}



.main_menu {
  margin: 0px auto;
    width: 100%;
    max-width: 600px;
    margin-top:50px;
    padding-bottom: 20px;
}

.main_menu ul li span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  color: #444a70;
  font-family: 'Nunito Sans', sans-serif;
}
.main_menu > ul > li > a {
  padding: 0 30px;
  text-decoration: none;
}

.main_menu ul li:hover a span {
  color: #b79310 !important;
  text-decoration: none !important;
}

.main_menu>ul>li:hover>a {
  opacity: .8;
}

.main_menu>ul>li>a {
  display: inline-block;
  height: 100%;
  background-color: transparent;
  -webkit-transition: opacity .3s ease-in-out,color .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out,color .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out,color .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out,color .3s ease-in-out;
  transition: opacity .3s ease-in-out,color .3s ease-in-out;
}

/* START - Hamburger CSS */
.hamburger{
    background: none;
    position: absolute;
    top: 1.85em;
    left: 2em;
    line-height: 45px;
    padding: 5px 15px 0px 15px;
    color: #24e59b;
    border: 0;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
}
.cross{
    background: none;
    position: absolute;
    top: 0.85em;
    left: 1em;
    padding: 7px 15px 0px 15px;
    color: #24e59b;
    border: 0;
    font-size: 3em;
    line-height: 65px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
}
.menu{font-weight:bold; font-size:0.8em; width:100%; text-align:left; font-size:12px; max-width: 768px; margin: auto; padding: 0 0.5em;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#b79310 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#b79310 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#444a70; transition: opacity .3s ease-in-out,color .3s ease-in-out;}
.menu ul li a:hover {  color: #b79310; text-decoration:none; transition: opacity .3s ease-in-out,color .3s ease-in-out;}
.menu a{text-decoration:none; color:#444a70; transition: opacity .3s ease-in-out,color .3s ease-in-out; font-weight: normal; font-size: 13px;}
.menu a:hover{text-decoration:none; color:#b79310; transition: opacity .3s ease-in-out,color .3s ease-in-out;}
.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}
/* END - Hamburger CSS */
@media only screen and (min-width: 1280px) {
  .container {
      width: 1200px!important;
  }
}

@media only screen and (max-width: 1001px) {
  nav.main_menu.drop_down.center.menu-desktop { 
      display:none; 
  }
  .menu-mobile { 
      display:block !important; 
  }
  header { padding:20px; padding-bottom:20px !important; }  
}

@media only screen and (max-width: 920px) {
  .container {
    width: 100%;
    position: relative;
  }

  .get-my-reading-wrap {
    width: 100% !important;
    margin-left: 0px !important;
  }

  html {
    overflow: auto;
  }


}

@media only screen and (max-width: 780px) {
  h1 {
    width: 100%;
    font-size: 40px;
    line-height: 50px;
  }

  h2 {
    line-height: 30px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 599px) {

  h2 {
    font-size: 17px !important;
    font-weight:bold;
  }

  .remodal h2 { 

    font-size: 20px !important;
    line-height: 30px;
  }

  .remodal-one-p {

    margin-top: 20px;
    margin-bottom: 20px;

  }

  .remodal-one-send {

    margin-top: 20px;

  }

  .container {
    padding: 0px;
    padding-right: 0px;
  }

  .title {
    font-size: 25px;
    line-height: 35px;
  }

  .get-my-reading-wrap {}

  .choose-wrap .card {
    /* background: url(img/newCARD-min.png) no-repeat;
    width: 174px;
    height: 239px;
    margin-right: -174px; */
    width: 144px;
    
  }

  .choose-wrap .card-back-1 .card.selected {
    /* background-position: -175px 0; */
  }

  .getreading {
    margin-top: -20px;
  }

  .form-group {
    display: block;
    padding: 0px;
  }

  .choose-wrap .instructions {
    left: 60%;
  }

  .choose-wrap .text-begin {
    padding: 0px;
  }

}

@media only screen and (max-width: 427px) {
  .form-group {
    display: block;
    padding: 0px !important;
  }
}

@media only screen and (max-width: 595px) {
  .hamburger { left: 15px !important; top:2rem ;  }
  .cross { left: 15px !important; top:1.75rem ;  }
}

@media only screen and (max-width: 460px) {
  .hamburger{ top:1.75rem ; }
  .cross { top:1.5rem ; }
}


@media only screen and (max-width: 425px) {
  .hamburger { top:1.5rem ; }
  .cross { top:1.25rem ; }
}


@media only screen and (max-width: 427px) {
.form-group {
  display: block;
  padding: 0px !important;
}
}

/* Added CSS from Cosmic */

header {
  background: #fff;
  padding-top: 20px;
  padding-bottom: 44px;
  position: relative;
  z-index: 1;
}

#footer-outer #copyright,
body {
  border: none !important;
  background-color: inherit;
}



.button-shuffle-alt-index a:hover { background-color:#23BAE0; }


@media (min-width: 640px){
  .choose-wrap .text-begin {
    font-size: 16px;
    padding: 15px 10px;
  }
}

@media only screen and (max-width: 599px){
  .choose-wrap .text-begin {
    padding: 0px;
  }
}

.fade-out{

  animation:fadeOut ease 0.5s !important;
  animation-fill-mode: forwards !important;

}


/* ----------------- */

.ui-progressbar {
  position: relative;
}

#progressbar {
  background: #f5fffa;
  border-radius:9px;
}

#progress-label {
  position: absolute;
  width: 100%;
  color: #ffffff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}


#progressbar>.ui-widget-header {
  background:#00BC0B;
}

.well {
  margin-top: 10px;
}

.container-progress-bar{
  width:100% !important;
  padding-top: 0 !important;
  margin-top:-25px;
}

.selected_card:after {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #290b7480;
  display: block;
  content: "";
  transition: all 0.3s;
  border-radius: 10px;
}
