@media(max-width:768px){

    .container-upper h1{
        line-height:40px;
        font-size:28px;
    }
    
    .container-upper h2{
        line-height: 1.3;
        font-size:24px;
        margin-bottom:20px;
    }
    
    .cards-row .col {
        padding: 0 2px;
    }

    .container-upper .container-button a,
    .container-bottom .container-button a {
        font-size:24px;
    }

    .container-button p{
        font-size:16px;
    }

    .container-upper{
        background-position:top 0 left 50%;
    }

    .container-bottom .container {
        padding-top: 0 !important;
    }

    .container-bottom h3{
        margin-bottom:20px !important;
        font-size:21px;
        line-height:1.3;
    }

    .container-bottom p{
        font-size:16px;
    }

    .container-bottom .container-button {
        margin: 25px auto 25px;
    }

    .container-bottom .row .col-md-1{
        width:10%;
    }

    .container-bottom .row .col-md-11{
        width:90%;
    }

}
