html {

  font-family: Lato;
  font-weight: 200;
  font-size: 1em;
  text-align: center;
  color: #ddd;
  /* background: url('../public/img/new_version_background-min.png') no-repeat, #090515; */
  background: url('../public/resultimg/v2-background-2.webp') no-repeat, #04040e;
  background-size: auto;
  background-position: top center;
}

body

/** HEADER ***/
html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
  /* bottom = footer height */

}

@import url(https://fonts.googleapis.com/css?family=Lato:400,900|Montez);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap);

.baskerville {
  font-family: Libre Baskerville, sans-serif !important;
}

footer {
  margin-top:50px;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

ul {
  margin-bottom: 0px;
}

header {
  background-color: #fff;
}

header#top nav>ul {
  float: right;
  overflow: visible !important;
  transition: padding 0.8s ease, margin 0.25s ease;
  min-height: 1px;
  line-height: 1px;
}

header#top nav>ul>li {
  float: left;
}

hr {
  border-top: 1px solid #888 !important;
}

header#top nav>ul>li>a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 19.6px;
  text-decoration: none;

}

header#top nav>ul>li>a {
  padding: 0px 10px 0px 10px;
  display: block;
  color: #676767;
  line-height: 20px;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

header#top nav>ul>li>a:hover {
  color: #c46e88 !important;
}

header#top nav ul li a {
  color: #888;
}

.clear {
  clear: both;
}

/** FOOTER **/
#footer-outer #copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.18) !important;
}

#footer-outer #copyright, body {
  border: none !important;
  background-color: inherit;
}

#footer-outer #copyright {
  padding: 20px 0px;
  font-size: 12px;
  background-color: #fff;
  color: #777;
}

#footer-outer .row {
  padding: 55px 0px;
  margin-bottom: 0px;
}

#footer-outer #copyright li a i,
#footer-outer #copyright p {
  color: #101034 !important;
  font-size: 16px;
}

.footer {
  background-color: #fff !important;
  padding: 25px !important;
  font-size: 14px;

}

.footer-outer {
  width: 100%;
  bottom: 0px;
  background: #fff;
}

#footer-outer #copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.18) !important;
}

.footer .container a {
    color:#23bae0!important;
}

.footer .container a:hover {
    color:#24e59b!important;
    text-decoration: none;
}

footer .disclaimer {

  color: #000;
  max-width: 800px;
  margin: auto;

}

footer .disclaimer p{

  font-size: 14px !important;
  line-height: 1.5 !important;
  text-align:center !important;

}

footer .row {
  display: flex;
  padding: 0 10px !important;
  margin: auto !important;
  max-width: 500px;
}

footer .row div {
  width: 33.3%;
  text-align: center;
}

footer .row div a {
  text-align: center;
}

/** CONTENT **/
.results h1 {
  font-size: 40px;
  line-height: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  margin-bottom: 40px;
  margin-left: 15px;
  font-family: 'Myriad Pro Bold', sans-serif !important;
  color: #000;
}

.result-content-container {
  width: 100%;
  max-width: 900px;
  margin: 0px auto;
  padding: 30px 20px;
  background: #fff;
  border-radius: 20px;
  margin-top: 50px;
  padding-bottom: 10px;
}

.result-content-container img {
  width: 100%;
  border-radius: 10px;
}

.page-salespage .animated.fadeIn {
  margin: 30px auto;
}

.page-salespage .animated h2 {
  font-weight: bold;
  margin-bottom: 1em! important;
  font-family: 'Libre Baskerville';
  color: #000;
  text-align:center;
}

.results p {
  /* color: #2f2f2f; */
  color: #000;
  text-align: justify;
  line-height: 30px;
  margin-top: 10px;
  font-family: "Open Sans", Helvetica, sans-serif !important;
  font-size: 16px;

}

.list-disc li{

  color: #000;
  text-align: justify;
  line-height: 30px;
  margin-top: 10px;
  font-family: "Open Sans", Helvetica, sans-serif !important;
  font-size: 16px;
  margin: 10px 0 16px;

}

.subtitle {
  color: #000 !important;
  font-size: 35px !important;
  margin-bottom: 0px !important;
  margin-top: 0px;
  font-family: 'Myriad Pro Regular', sans-serif !important;
  font-weight: 300;
  text-align: left;
  margin-top: -10px;
}

.power-reading {
  width: 100%;
  max-width: 400px;
}

.addcart {
  max-width: 350px;
  width: 100%;
}

.continue {
  /* font-family: 'Libre Baskerville';
  color: #000;
  background: #FFE700;
  font-size: 25px;
  color: #000;
  border: 0px;
  padding: 20px 16px;
  font-weight: bold;
  display: inline-block;
  line-height: 1.3333333;
  border-radius: 6px;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  -webkit-transition: background-color 0.2s linear;
  -ms-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  text-decoration: none !important; */
  color: #fff;
  background: #00BC0B;
  border: 1px solid #000;
  font-size: 22px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s linear;
  display: inline-block;
}

.small-continue:hover,
.continue:hover {
  background: #444A70 !important;
  color: #fff !important;
  text-decoration: none !important;
}



.button-container {
  margin-top: 10px;
}

.birthday-selection {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 30px;
}

.left {
  text-align: left !important;
}

.content h2.left {
  color: #000;
}

.remodal {
  font-family: "Open Sans", Helvetica, sans-serif !important;
  margin-top: -100px;
}

.remodal h2 {
  font-family: 'Libre Baskerville';
  color: #000;
  margin-top: 0px;
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 0px;
  font-weight: bold;
}

.remodal h3 {
  font-size: 22px;
  line-height: 35px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.remodal p {
  padding: 0px;
  font-family: "Open Sans", Helvetica, sans-serif !important;
  font-weight: normal;
  font-size: 16px;
  display: block;
  margin-top: 20px;
  text-align: center;
}

.btn-purple {}

.small-continue {

  width: 100%;
  background: #00BC0B;
  color: #000;
  font-size: 18px;
  transition: color 0.2s linear;
  -webkit-transition: background-color 0.2s linear;
  -ms-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;

  color: #fff;
  background: #00BC0B;
  border: 1px solid #000;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s linear;
  display: inline-block;

}

.big-input {
  font-size: 30px;
  outline: none;
}

.picker__holder {
  margin-bottom: 30px;
}

.notop {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.sales-border {
  border-top: 1px solid #b0b0b0;
}

.top-twentry {
  margin-top: 20px;
}

.top-thirty {
  margin-top: 30px;
}

.sales-content {
  line-height: 30px;
  color: #2f2f2f;
}

strong,b, .sales-content p{
  /* color: #2f2f2f; */
  color: #000;
}

.sales-content .center {
  text-align: center;
}

.center {

  text-align:center;

}

.form-control {
  display: block;
  width: 100%;
  height: 35px;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-group {
  padding-left: 0px;
}


.select-full {
  width: 100%;
  margin-bottom: 0px;
}

.select {
  display: block;
  margin-top: 10px;
}

.select ::after,
.select:not(.is-multiple)::after {
  border: 1px solid #000;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: .5em;
  pointer-events: none;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: .5em;
  margin-top: -.375em;
  right: 2em;
  top: 50%;
  z-index: 4;
}

.justify {
  text-align: justify;
}

.privacytitle {
  margin-bottom: 0px !important;
  margin-left: 30px !important;
}

.privacy {
  color: #777777 !important;
}

#steptwo-continue,
.btn {
  white-space: pre-wrap !important;
}

.div-pink {
  background: #FFD1E8;
  -webkit-transition: background-color 5000ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.div-pink:hover {
  background: #dbdbdb;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;


}

.top-thirty { margin-top: 50px !important; } 
.bottom-thirty { margin-bottom: 50px !important; }


@media only screen and (max-width: 920px) {
  .content {
    padding: 20px;
  }

}

@media only screen and (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }

  .logo-container {
    padding: 10px;
  }

  .logo-container img {
    max-width: 439px;
    height: auto;
  }

  .result-content-container img.animated.flipInY {
    max-width: 250px;
    margin-bottom: 30px;
  }

  .results h1 {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .results .col-sm-4 {
    float: left;
  }

  .subtitle {
    margin-top: 20px;
    font-size: 40px !important;
  }

  .results p {
    line-height: 25px;
  }

  .result-content-container {}

  .button-container {
    margin-top: 50px;
  }

  .result-content-container {
    margin-top: 0px;
  }

  .form-group {
    padding: 0px !important;
    margin-bottom: 5px !important;
  }

  .remodal {
    margin-top: auto;
  }

  .small-continue {
    margin-top: 80px;
  }

  .remodal h3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

}

@media only screen and (max-width: 599px) {
  .results .col-sm-4 {
    float: none;
  }

  .result-content-container img.animated.flipInY {
    margin-bottom: 0px;
  }

  .title-control {
    font-size: 30px !important;
    margin-left: 0px !important;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    line-height: 50px !important;
  }

  .content {
    padding: 0px;
  }

  .result-content-container {
    /* padding: 10px; */
    padding: 10px 20px;
  }

  .subtitle {
    text-align: center;
    font-size: 30px !important;
    line-height: 50px;
    margin-bottom: 20px !important;
  }

  p i {
    text-align: center !important;
  }

  .sales-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .continue {
    padding: 10px 10px !important;
  }

  .copyright,
  .privacy {
    text-align: center !important;
  }

  .bottomspacer {
    height: 50px !important;
  }

  .col-sm-9,
  .col-sm-3,
  .col-sm-4,
  .col-sm-8 {
    padding: 0px !important;
  }

  .result-content-container img.animated.flipInY {
    max-width: 200px !important;
  }
}

@media only screen and (max-width: 450px) {
  .remodal h3 {
    text-align: center;
  }

  .form-group {
    display: block;
    padding: 0px !important;
  }

  .logo-container img {
    width: 100%;
  }

}
 
/* EXIT INTENT */

#ouibounce-modal .modal {

  background-color: #031139 !important;

}

#ouibounce-modal .modal h2 {

  color:#fff !important;
  line-height: 1.5;

}

#ouibounce-modal .modal {

  height: auto !important;
  max-height: 250px;
  border-radius: 10px;
  
}

#ouibounce-modal p {
  color: #fff;
  transition: all 0.3s;
}

#ouibounce-modal p:hover {
  color: #0066ff!important;
}

#ouibounce-modal .modal-footer {
  padding-bottom: 0;
}
